.dark{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
    margin: auto;
}
.container{
    margin: auto;
    width:304px;
    height:304px;
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 100px;
}
.box{
    border: 1px solid;
    width: 99px;
    height: 99px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
.btn{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}